.calculateBox{
  margin: 120px auto;
  max-width: 800px;
  border-radius: 50px;
  text-align: center;
  outline-style: double;
  outline-width: 10px;
  outline-color: #a12852;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonBar{
  margin: 5px;
}

.boxText{
  padding: 10px;
  color: white;
  margin-top: 10px;
  overflow: auto;
  background-color: #d25782;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  height: 200px;
  border-radius: 10px;
}